.aboutContainer {
    width: 1440px;
    display: flex;
    gap: 80px;
    padding: 112px 0px;
}

.aboutContainer>img {
    padding-right: 64px;
}

/* Container principal */
.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 64px;
    gap: 24px;
}

.mainContainer>p {
    font-size: 18px;
    color: var(--gray-color);
    text-align: justify;
}

/* about-me da homepage */
.aboutHome {
    gap: 16px;
    display: flex;
    align-items: center;
    white-space: nowrap
}

.aboutHome h3 {
    color: var(--white-color);
    font-size: 48px;
    font-weight: 600;
}

.aboutHome span {
    color: var(--purple-color);
}

.aboutHomeLine {
    background-color: var(--purple-color);
    height: 1px;
    flex-grow: 1;
}

/* about-me da about-me */
.aboutMe {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.aboutMe h3 {
    color: var(--white-color);
    font-size: 48px;
    font-weight: 600;
}

.aboutMe span {
    color: var(--purple-color);
}

.aboutMe>p {
    font-size: 18px;
    color: var(--white-color);
}

/* Botão do container */
.mainContainer button {
    border: 1px solid var(--purple-color);
    padding: 12px 24px;
    color: var(--white-color);
    font: 500 16px "Fira Code", monospace;
    transition-duration: 0.3s;
    cursor: pointer;
}

.mainContainer button:hover {
    background-color: #c778dd33;
    transition-duration: 0.3s;
}

/* Dispositivo Movel */
@media (max-width: 500px) {
    .aboutContainer {
        width: 375px;
        padding: 64px 0;
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .mainContainer {
        gap: 20px;
        padding: 0px 20px;
    }

    .mainContainer>p {
        font-size: 16px;
    }

    .aboutContainer>img {
        max-width: 335px;
        padding: 0px;
    }

    .aboutHome h3 {
        font-size: 32px;
    }

    .aboutMe h3 {
        font-size: 32px;
    }

    .aboutMe>p {
        font-size: 16px;
    }
}