.portfolioContainer {
    display: flex;
    justify-content: center;
}

.asideContainer {
    display: flex;
    flex-direction: column;
    max-width: 1312px;
    color: var(--white-color);
    font-size: 24px;
    padding: 112px 0px;
}

/* Quadrado de cima */
.topSide {
    border: 1px solid var(--gray-color);
    padding: 32px 48px;
    font-weight: 500;
    position: relative;
}

/* Quotations */
.topSide img:first-of-type {
    position: absolute;
    top: -14.5px;
    left: 11px;
}

.topSide img:last-of-type {
    position: absolute;
    bottom: -14.5px;
    right: 11px;
}

/* Quadrado de baixo */
.bottomSide {
    border: 1px solid var(--gray-color);
    border-top: none;
    padding: 16px 24px;
    font-weight: 400;
    margin-left: auto;
}

/* Dispositivo Movel */
@media (max-width: 500px) {
    .asideContainer {
        padding: 64px 0;
        max-width: 335px;
        font-size: 18px;
    }

    .topSide {
        padding: 24px 32px;
    }

    .bottomSide {
        padding: 12px 16px;
    }
}