.portfolioContainer {
    background-color: var(--background-color);
    font-family: "Fira Code", monospace;
    width: 100%;
    display: flex;
}

.asideContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 74px;
    max-width: 1024px;
    margin: 0px auto;
    color: var(--white-color);
    font-size: 24px;
}

.topSide {
    position: relative;
    border: 1px solid var(--gray-color);
    padding: 32px;
    font-weight: 500;
}

.topSide img:first-of-type {
    position: absolute;
    top: -14.5px;
    left: 11px;
}

.topSide img:last-of-type {
    position: absolute;
    bottom: -14.5px;
    right: 11px;
}

.bottomSide {
    border: 1px solid var(--gray-color);
    border-top: none;
    padding: 16px;
    font-weight: 400;
    margin-left: auto;
}