.heroContainer {
    width: 1440px;
    display: flex;
    gap: 80px;
    padding: 112px 0px;
}

/* Esquerda do container principal */
.heroMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding-left: 64px;
}

.heroMain h2 {
    font-size: 56px;
    line-height: 1.2;
    color: var(--white-color);
}

.heroMain span {
    color: var(--purple-color);
}

.heroMain>p {
    font-size: 18px;
    color: var(--gray-color);
}

/* Botão do container */
.heroMain button {
    border: 1px solid var(--purple-color);
    padding: 12px 24px;
    color: var(--white-color);
    font: 500 16px "Fira Code", monospace;
    transition-duration: 0.3s;
    cursor: pointer;
}

.heroMain button:hover {
    background-color: #c778dd33;
    transition-duration: 0.3s;
}

/* Direita do container principal */
.heroAside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 64px;
}

/* Trabalhando em */
.heroAside>div {
    display: flex;
    max-width: 469px;
    padding: 12px;
    border: 1px solid var(--gray-color);
    font-size: 18px;
    font-weight: 500;
    color: var(--gray-color);
    gap: 10px;
}

.heroAside div>p {
    display: flex;
    flex-direction: row;
    transition-duration: 0.3s;
}

.heroAside a {
    color: var(--white-color);
    font-weight: 600;
}

.heroAside div>p :hover {
    color: var(--purple-color);
    transition-duration: 0.3s;
}

/* Dispositivo Movel */
@media (max-width: 500px) {
    .heroContainer {
        width: 375px;
        padding: 64px 0;
        flex-direction: column;
        gap: 48px;
    }

    .heroMain {
        gap: 20px;
        padding: 0px 20px;
    }

    .heroMain h2 {
        font-size: 40px;
    }

    .heroMain>p {
        font-size: 16px;
    }

    .heroAside {
        padding: 0px 20px;
    }

    .heroAside img {
        max-width: 335px;
    }

    .heroAside div>p {
        flex-direction: column;
    }
}