.asideMedia {
    position: absolute;
    top: 0;
    left: -32px;
    width: 32px;
    height: 271px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.asideLine {
    height: 191px;
    width: 1px;
    background-color: var(--gray-color);
}

/* Dispositivo Movel */
@media (max-width: 500px) {
    .asideMedia {
        display: none;
    }
}