.portfolioContainer {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    font-family: "Fira Code", monospace;
}

.headerContainer {
    width: 1024px;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 32px 0 70px 0;
    margin: 0px auto;
}

.headerContainer div {
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.headerContainer div img {
    width: 16px;
    height: 16px;
}

.headerContainer div h1 {
    font-size: 16px;
    font-weight: 700;
    color: var(--white-color);
}

.headerNav {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 32px;
}

.headerNav p {
    color: var(--gray-color);
    font-weight: 400;
    font-size: 16px;
    transition-duration: 0.3s
}

.headerNav p:hover {
    color: var(--white-color);
    transition-duration: 0.3s;
    font-weight: 500;
    font-size: 16px;
}

.headerNav span {
    color: var(--purple-color);
    font-size: 16px;
}

/* .headerNav button {
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 4px;
}

.headerNav button p {
    color: var(--gray-color);
    font-size: 16px;
    font-weight: 600;
}

.headerNav button :hover {
    text-decoration: none;
    color: var(--gray-color);
    font-size: 16px;
    font-weight: 600;
} */

.home p,
.work p,
.about p,
.contact p {
    color: var(--white-color);
    font-weight: 500;
}

.home span,
.work span,
.about span,
.contact span {
    color: var(--purple-color);
}