.footerContainer {
    width: 1440px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--gray-color);
}

.footerSectionTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 64px 32px;
}

/* Esquerda da parte de cima do footer */
.footerSectionTop div:nth-child(1) {
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    font-weight: 400;
    font-size: 16px;
    gap: 12px;
}

.footerSectionTop div:nth-child(1) div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footerSectionTop div:nth-child(1) div>p:first-of-type {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.footerSectionTop div:nth-child(1) div>p:last-of-type {
    color: var(--gray-color);
    font-weight: 400;
}

/* Direit da parte de cima do footer */
.footerSectionTop div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white-color);
    font-weight: 500;
    font-size: 24px;
    gap: 12px;
}

.footerSectionTop div:nth-child(2) div {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.footerSectionTop div:nth-child(2) div>a {
    height: 32px;
}

/* Parte de baixo do footer */
.footerSectionBot {
    display: inline;
    text-align: center;
    padding: 32px 64px 80px;
    color: var(--gray-color);
    font-size: 16px;
    font-weight: 400;
}

/* Dispositivo Movel */
@media (max-width: 500px) {

    .footerContainer {
        width: 375px;
    }

    .footerSectionTop {
        flex-direction: column;
        padding: 48px 20px 12px;
        gap: 24px;
    }

    .footerSectionTop div:nth-child(1) div {
        flex-direction: column;
    }

    .footerSectionTop div:nth-child(1) {
        text-align: center;
    }

    .footerSectionBot {
        padding: 12px 20px 48px;
    }
}